<body class="body">
  <div class="text content">
    <h1>開発環境の構築</h1>
    <p>
      プログラミングを勉強しようと思った際にまず必要になのは、コードを書いて実行結果を見ることができる開発環境の構築です。
      なので、さっそく開発環境の構築をしていきましょう、、、と言いたいところですが<br>
      初心者にとってこの開発環境の構築は最初のハードルです。この開発環境の構築でつまずいて挫折する方もいらっしゃるのではないでしょうか。
      <br>
      今回は、そんな方でもブラウザだけあれば簡単に開発環境が作れるCloud9というツールを使っていきます。
    </p>
    <h2>Cloud9とは</h2>
    <p>
      Cloud9とは、アプリケーションの開発やデータベースなどをクラウド環境で利用できるサービスです。
      統合開発環境(IDE)と呼ばれるもので、様々な便利機能が集約されています。<br>
      簡単に説明すると「WEBアプリケーション開発ができる状態を簡単に用意できてしまうツール」です。
    </p>
    <h2>Cloud9登録方法</h2>
    <p>
      それでは、さっそくCloud9に登録していきましょう。<br>
      まずは、<a href="https://c9.io/">Cloud9</a>のサイトにアクセスしてください。
      下記の画面になったら「SIGN IN」ボタンを押して登録してください。
      <img src="image1.png">

      登録が完了すると下記のようなダッシュボード画面が表示されるので「Create new workspace」を押下してください。
      <img src="image2.png">
      下記の画面になったら「Workspace name」に何でも良いので自分の好きな名前を入力して
      「Choose a template」に「Rails Tutorial」を選択して「Create workspace」を押下して次へ行ってください。
      <img src="image3.png">
      全て完了すると下記のような画面になります。
      <img src="image4.png">
      この時点では、まだrailsはインストールされていない状態なのでrailsをインストールコマンドを打ちましょう。<br>
      gem install rails -v 4.2.6<br>
      このコマンドは、railsのバージョン4.2.6をインストールするコマンドです。
      <img src="image5.png">
      インストールが完了したらバージョンを確認しましょう。<br>
      rails -v<br>
      下記の画面のようになっていれば正常にインストールされています。
      <img src="image6.png">
      以上で開発環境の構築は終了です。
      お疲れ様でした。
    </p>
  </div>
</body>
