<div class="wrapper">

  <div class="top-img">
    <%= image_tag "rails.jpg" %>
  </div>

  <div id="table-of-contents">
    <ul id="main-table">
      <li><a href="/lesson1" class="free">LESSON1</a><li>
      <li><a href="/lesson2" class="free">LESSON2</a><li>
      <li><a href="/lesson3" class="free">LESSON3</a><li>
      <li><a href="/lesson4" class="free">LESSON4</a><li>
      <li><a href="/lesson5" class="premium">LESSON5</a><li>
      <li><a href="/lesson6" class="premium">LESSON6</a><li>
      <li><a href="/lesson7" class="premium">LESSON7</a><li>
      <li><a href="/lesson8" class="premium">LESSON8</a><li>
      <li><a href="/lesson9" class="premium">LESSON9</a><li>
      <li><a href="/lesson10" class="premium">LESSON10</a><li>
      <li><a href="/lesson11" class="premium">LESSON11</a><li>
      <li><a href="/lesson12" class="premium">LESSON12</a><li>
      <li><a href="/lesson13" class="premium">LESSON13</a><li>
      <li><a href="/lesson14" class="premium">LESSON14</a><li>
      <li><a href="/lesson15" class="premium">LESSON15</a><li>
    </ul>
    <p id="no-finish">※まだまだLESSON追加していくよ！！</p>
  </div>

</div>
