<div class="jumbotron text-center" id="main_img">
  <h1>Welcome to the world of Ruby</h1>
</div>

<div class="user">

<div class="mypage">
    <%= link_to "マイページ", edit_user_registration_path %></a>
</div>

<div class="log">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</div>

</div>

<div class="main">
<ul>
  <li><a href="/environment" target="_blank">開発環境の構築</a></li>
  <li><a href="/page" target="_blank">TOPページとABOUTページ作成</a></li>
  <li><a href="/login" target="_blank">ログイン機能とカラムの追加</a></li>
  <li><a href="/bootstrap" target="_blank">Bootstrap</a></li>
  <li><a href="/ja" target="_blank">日本語化</a></li>
  <li><a href="/blog" target="_blank">ブログ作成</a></li>
  <li><a href="/validates" target="_blank">バリデーション</a></li>
  <li><a href="/search" target="_blank">ブログ検索機能</a></li>
  <li><a href="/association" target="_blank">アソシエーション</a></li>
  <li><a href="/release" target="_blank">ネットに公開　課題</a></li> <!-- 写真投稿ブログ -->
  <li><a href="/contact" target="_blank">お問い合わせメール送信</a></li>
  <li><a href="/authentication" target="_blank">メール認証付きのログイン機能</a></li>
  <li><a href="/github" target="_blank">Github</a></li>
  <li><a href="/twitter" target="_blank">Twitterログイン　課題</a></li> <!-- Facebookログイン, Githubログイン -->
  <li><a href="/error" target="_blank">エラー画面</a></li>
  <li><a href="/admin" target="_blank">管理画面</a></li>
  <li><a href="/comment" target="_blank">コメント機能</a></li>
  <li><a href="/follow" target="_blank">フォロー機能</a></li>
  <li><a href="/like" target="_blank">いいね機能　課題</a></li> <!-- フォロー機能 -->
  <li><a href="/message" target="_blank">メッセージ機能</a></li>
  <li><a href="/s3" target="_blank">Amazon S3</a></li>
  <li><a href="/notification" target="_blank">通知機能　課題</a></li> <!-- Facebook, LINE -->
  <li><a href="/ranking" target="_blank">ランキング機能を作成</a></li>
  <li><a href="/ecsite" target="_blank">ECサイトを作成</a></li>
  <li><a href="/evaluation" target="_blank">評価サイトを作成　課題</a></li> <!-- Amazon -->
  <li><a href="/rspec" target="_blank">Rspec</a></li>
</ul>
</div>
