.lesson {
  padding-top: 80px;
  width: 98%;
  background: white;
  margin: auto;
  padding-bottom: 20px;
}
.code {
  background: #003366;
  color: white;
}
.code p {
  padding: 10px 0 10px 20px;
  overflow: scroll;
}
.command {
  background: #202020;
  color: #00FF00;
}
.command p {
  padding: 10px 0 10px 20px;
}
.main span {
  font-weight: bold;
}
.main h2 {
  margin-bottom: 0;
}
