<header>
  <div class="header-container">
    <div id="header-left">
      <h1><a href="/">RAILS</a></h1>
    </div>

    <nav id="header-right">
      <ul>
        <li><a href="#">PREMIUM</a></li>
      </nav>
    </nav>
  </div>
</header>
