<!DOCTYPE html>
<html>
<head>
  <title>MasterRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse header">
  The Complete Ruby on Rails
</nav>

<%= yield %>

</body>
</html>
